html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 90%;
    font: caption;
    background-color: #7d7d7d;
  }
  
  p {
    margin: 1em 2em;
  }

#header-text {
    margin: 2px 2px;
    padding: 10px;
}

#add-link {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 35%;
    margin: 2px 2px;
    border-radius: 5%;
    transition: background-color .2s ease-out;
}
    #add-link:hover {
        background-color: darkgreen;
        transition: background-color .2s ease-in;
    }

#add-project {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    margin: 2px 2px;
    border-radius: 5%;
    transition: background-color .2s ease-out;
}
#proj-name {
    margin: 2px 2px;
    padding: 10px;
    float:right;
    width: 65%;
}

#add-project:hover {
    background-color: darkgreen;
    transition: background-color .2s ease-in;
}
  
  [id^="content_"] {
    background: rgb(0, 205, 255);
    width: auto;
    height: 20%;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: none;
    margin: 2em 2em 0 2em;
    border: .5em solid #a3aeb5;
    transition: background-color .2s ease-out;
  }
  
  [id^="content_"][contenteditable=true] {
    background-color: white;
    transition: background-color .2s ease-in;
  }
  
  [contenteditable]:focus {
    outline: 0px solid transparent;
  }